<html>
<head>
 <title>Ads Image</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body>

	<div class="Container">
		<h1> Image Upload</h1>
		<%= typeof msg != 'undefined' ? msg : '' %>
		<form action "/imgupload" method="POST" enctype="multipart/form-data">
 <input type="file" name="myImage" ></input>
 <input type="submit" name="submit" value="upload"></input>
</form>
<br>
<img src="<%= typeof file != 'undefined' ? file : '' %>" class ="responsive-img">
	</div>



<script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>